
*.js linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.html linguist-vendored
*.htm linguist-vendored
*.json linguist-vendored
*.xml linguist-vendored


/AdminLTE-3.0.4/** linguist-vendored
/public/** linguist-vendored
/assets/** linguist-vendored
/static/** linguist-vendored


*.cs linguist-detectable=true


