@using MvcCv.Models.Entity
@model List<TblSosyalMedya>

<div class="social-icons">
    
    @foreach(var item in Model)
     { 
        
        <a href="@item.Link" target="_blank" class="custom-icon">  <i> <img src="@item.Resim"></i> </a>
     }



</div>
